#contact-page {
    padding: 100px;
    padding-top: 5rem;
    .wrap-form-reservation {
        #submit-btn {
            border-radius: 10px;
            background-color: black;
            &:hover {
                background: red;
                color: black;
            }
        }
    }
    #contact-us_title {
        font-family: Poppins;
        font-weight: 700;
        font-size: 50px;
        line-height: 1.2;
        color: #222222;
        text-transform: uppercase;
        letter-spacing: 6px;
    }
    h1 { 
        font-size: 3rem;
        font-weight: 700;
        color: black;
        margin-bottom: 2.5rem;
    }
    h3 {
        font-size: 1.2rem;
        font-weight: 700;
        color: black;
        margin-bottom: .5rem;
    }
    p {
        font-size: 0.9rem;
        line-height: 2;
        margin-bottom: 2rem;
        font-weight: 500;
    }
    iframe{
      width: 100%;
    }
}
@media (min-width: 0px) and (max-width: 767px) {
    #contact-page {
        margin-top: 5rem;
        padding: 0px;
        #contact-us_title {
            font-size: 25px;
        }
        #bottom-contact {
            padding-top: 60px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    #contact-page {
        padding: 20px;
        margin-top: 5rem;
        #bottom-contact {
            padding-top: 60px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}