#single-menu-page {
    padding: 100px;
    .section-mainmenu {
        min-height: 624px;
    }
    h1 {
        font-size: 2.3rem;
        font-weight: 700;
        color: #ed4852;
    }
    h1 {

    }
    .item {
        margin-bottom: 2rem;
    }
    .title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        h4,
        .price {
            font-size: 1.4rem;
            color: black;
            font-weight: 900;
        }
    }
    .line-item-mainmenu {
        flex-grow: 1;
        height: 2px;
        margin-bottom: 5px;
        margin-right: 10px;
        margin-left: 10px;
      }
}
@media (min-width: 0px) and (max-width: 767px) {
    #single-menu-page {
        padding: 0px;
        margin-top: 5rem;
    } 
    .line-item-mainmenu {
        display: none;
      }
    
      .price-item-mainmenu {
        padding-top: 5px;
      }
    
      .name-item-mainmenu {
        width: 100%;
      }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    #single-menu-page {
        padding: 20px;
        margin-top: 5rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    #single-menu-page {
        padding: 20px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}